@import "tailwindcss";

@theme {
    --color-primary: #00f3ff;
    --color-accent-pink: #e8268e;
    --color-background-dark: #0d131a;
    --color-panel-dark: #1a0d15;
    --color-border-muted: rgba(0, 243, 255, 0.15);
    --color-charcoal: #090d12;
    --color-background-light: #f6f8f8;
    --color-neutral-muted: #222d3d;

    --font-display: "Spline Sans", sans-serif;
    --font-serif: "Playfair Display", serif;

    --radius-lg: 2rem;
    --radius-xl: 3rem;
}

@layer base {
    body {
        @apply bg-background-dark text-gray-100 font-display selection:bg-primary/30;
        scroll-behavior: smooth;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@layer utilities {
    .animate-fade-in {
        animation: fadeIn 0.3s ease-out forwards;
    }

    .grain-overlay {
        background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuA5O1brWEpQkw9oRl27F3K5_x1p152VHwK_4U0g28qhwMDi3N3ZtcBlmq0MIy8eU0RyakrDgCY4CQq1wPVO3jM82e6ElVmYPsat1caJTwfARmEhEpWkvJDEgUiDHRp8RjbQjhaP7TrvNXCwOP4PwDwSvNBxz44kVb3I1XSmEf7w3zgTxb7R00LvZNqNln3NKRre25ohrnE8NvIBVzgeVYuasg6cGJ906LwPpLr8lwDVRjx9ZkVOaXRyX-f6GAxvArlFvyAVkp1x38o);
        opacity: 0.05;
        pointer-events: none;
    }

    .glass-nav {
        @apply bg-background-dark/80 backdrop-blur-md border border-white/5;
    }

    .glass-panel {
        @apply backdrop-blur-xl border border-white/5;
        background-color: rgba(13, 19, 26, 0.6);
    }

    .editorial-line {
        height: 1px;
        /* Cyan gradient */
        background: linear-gradient(90deg, transparent, rgba(0, 243, 255, 0.3), transparent);
    }

    .pink-glow {
        filter: blur(120px);
        background: radial-gradient(circle, rgba(0, 243, 255, 0.15) 0%, transparent 70%);
    }

    .contact-input {
        @apply bg-transparent border-b py-6 w-full text-xl transition-colors duration-300 focus:outline-none focus:border-primary shadow-none;
        border-color: rgba(0, 243, 255, 0.2);
    }

    .custom-border {
        border-color: rgba(255, 255, 255, 0.08);
        border-style: solid;
        border-width: 1px;
    }

    /* Hide scrollbar for Chrome/Safari/Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .sidebar-item-active {
        @apply border-l-2 border-primary text-white;
        background: linear-gradient(90deg, rgba(0, 243, 255, 0.1) 0%, transparent 100%);
    }
}